body { background-color: LightSteelBlue; }

#logo {
	position: absolute;	
}

#cabecalho {
	color: White;
	text-align: center;
}
#cabecalho h1 {
	padding: 3%;
	font-size: 500%;
}
#cabecalho h2 {
	font-size: 300%;
}
#cabecalho h2 span{
	color: DarkCyan;
}
#cabecalho h3 a {
	font-size: 200%;
	text-decoration:none;
	color: SlateGray;
}
#cabecalho h3 a:hover {
	color: DarkCyan;
}

#menu ul {
	text-align: right;	
	padding:3%;
    margin:1%;
}

#menu ul li {
	display: inline; 
}
#menu ul li a {
    color: SlateGray;
	padding: 1%;
	text-decoration: none;
    
}
#menu ul li a:hover {
    color: DarkCyan;
}

